.form-ingredients {
  flex-direction: row;
  width: 100%;
  max-width: 1920px;
  justify-content: space-around;
}

.btn-back .btnBack {
  margin: 16px auto;
}

#ingredients #select-ingrendient {
  background-image: url(/_next/static/media/arrow-select.9d346510.svg);
  background-position: 97% center;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

}

@media screen and (max-width:768px) {
  .form-ingredients {
    flex-direction: column;
  }
}