.form-ingredients {
  flex-direction: row;
  width: 100%;
  max-width: 1920px;
  justify-content: space-around;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;
}

.btn-back .btnBack {
  margin: 0px auto;
}

#ingredients #select-ingrendient {
  background-image: url('../images/arrow-select.svg');
  background-position: 97% center;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

main:has(.form-ingredients) {
  overflow-y: scroll;
}

#form-register select {
    height: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 0;
    padding: 0 16px;
    font-size: 16px;
    color: #999;
}




@media screen and (max-width:768px) {
  .form-ingredients {
    flex-direction: column;
  }
}